@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .table-custom-cell {
    @apply px-3 py-2 hover:bg-secondary-lighter duration-300 w-1/5
  }

  .input-container {
    @apply flex gap-2 flex-col
  }

  .input {
    @apply outline-2 focus:outline-[3px] focus:outline-none focus:ring-2 focus:ring-primary focus:outline-primary pl-2 duration-300 rounded-sm
  }

  .invalid-input {
    @apply outline-dangerous-light
  }

  .filling-input {
    @apply outline-secondary-lighter focus:outline-secondary-light
  }

  .invalid-input-label {
    @apply w-full text-center text-dangerous-light
  }

  .custom-form-styles {
    @apply md:grid md:grid-cols-2 flex flex-col items-center gap-3
  }

  .closing-btn {
    @apply text-dangerous-light rounded-md hover:bg-dangerous-light hover:border-dangerous-light border-dangerous-lighter border-2 hover:text-white w-8 h-8 cursor-pointer duration-300
  }

  .pagination-item {
    @apply py-1 px-2 rounded-md cursor-pointer hover:bg-[#eee] duration-300
  }

  .pagination-arrow {
    @apply p-1 cursor-pointer bg-[#eee] hover:bg-primary rounded-full hover:text-white duration-300 disabled:cursor-not-allowed disabled:bg-secondary-lighter disabled:text-secondary-light
  }

  .file-upload {
    @apply outline-secondary-lighter hover:text-primary hover:outline-primary
  }

  .invalid-file-upload { 
    @apply outline-dangerous-lighter text-dangerous-lighter
  }

  .primary-btn-colors {
    @apply bg-primary hover:bg-primary-dark text-white duration-300
  }

  .dangerous-btn-colors {
    @apply bg-dangerous hover:bg-dangerous-dark text-white
  } 

  .alert-btn-colors {
    @apply bg-alert hover:bg-alert-dark text-[#444] hover:text-white
  }

  .outlined-btn-primary {
    @apply border-primary-light hover:bg-primary border-2 hover:text-white hover:border-primary
  }

  .outlined-btn-dangerous {
    @apply border-dangerous-light hover:bg-dangerous border-2 hover:text-white hover:border-dangerous
  }

  .outlined-btn-alert {
    @apply border-alert-light hover:bg-alert hover:text-white border-2 hover:border-alert
  }

  .medium-btn {
    @apply px-3 py-2 rounded-md
  }

  .nav-link {
    @apply px-2 py-1 hover:bg-primary hover:text-white duration-300 rounded-lg
  }

  .mobile-nav {
    @apply w-[101%] min-h-screen p-3 animate-appear bg-primary-dark flex flex-col gap-2 items-center absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-[26px] text-white
  }

  .normal-nav {
    @apply md:flex grow hidden gap-2 justify-between
  }

}

@theme {
  --font-sans: var(--font-inter);
  --font-kufi: var(--font-kufi);
  --color-primary: hsl(217 100% 50%);
  --color-primary-light: hsl(from var(--color-primary) h s calc(l + 20));
  --color-primary-lighter: hsl(from var(--color-primary) h s calc(l + 40)); 
  --color-primary-dark: hsl(from var(--color-primary) h s calc(l - 20)); 
  --color-primary-darker: hsl(from var(--color-primary) h s calc(l - 40)); 
  --color-secondary: hsl(217 0% 50%);
  --color-secondary-light: hsl(from var(--color-secondary) h s calc(l + 20));
  --color-secondary-lighter: hsl(from var(--color-secondary) h s calc(l + 40));
  --color-secondary-dark: hsl(from var(--color-secondary) h s calc(l - 20));
  --color-secondary-darker: hsl(from var(--color-secondary) h s calc(l - 40));
  --color-dangerous: hsl(357 96.3% 50%);
  --color-dangerous-light: hsl(from var(--color-dangerous) h s calc(l + 20));
  --color-dangerous-lighter: hsl(from var(--color-dangerous) h s calc(l + 40));
  --color-dangerous-dark: hsl(from var(--color-dangerous) h s calc(l - 20));
  --color-dangerous-darker: hsl(from var(--color-dangerous) h s calc(l - 40));
  --color-alert: hsl(51, 100%, 56%);
  --color-alert-light: hsl(from var(--color-alert) h s calc(l + 20));
  --color-alert-lighter: hsl(from var(--color-alert) h s calc(l + 40));
  --color-alert-dark: hsl(from var(--color-alert) h s calc(l - 20));
  --color-alert-darker: hsl(from var(--color-alert) h s calc(l - 40));
  --color-modal-background: rgba(0,0,0,0.5);
  --shadow-custom: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15);

  --animate-slide-up: slide-up 0.3s ease;
  @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translatey(100%)
    } 
    100% {
      opacity: 1;
      transform: translatey(0)
    }
  }
  --animate-appear: appear 0.3s ease;

  @keyframes appear {
    0% {
      opacity: 0;
      transform: scale(0.4);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-lighter);
  border-radius: 1rem;
  transition: .3s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary-light);
}

::-webkit-scrollbar {
  width: 0.5rem;
}