@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .table-custom-cell {
    @apply border-t-secondary-lighter border-t border-l border-l-secondary-lighter border-s px-3 py-2 hover:bg-secondary-lighter duration-300 w-1/5
  }

  .input-container {
    @apply flex gap-2 flex-col
  }

  .input {
    @apply outline-2 focus:outline-[3px] focus:outline-none focus:ring-2 focus:ring-primary focus:outline-primary pl-2 duration-300 rounded-sm
  }

  .invalid-input {
    @apply outline-dangerous-light
  }

  .filling-input {
    @apply outline-secondary-lighter focus:outline-secondary-light
  }

  .invalid-input-label {
    @apply w-full text-center text-dangerous-light
  }

  .custom-form-styles {
    @apply md:grid md:grid-cols-2 flex flex-col items-center gap-3
  }

  .closing-btn {
    @apply text-dangerous-light rounded-md hover:bg-dangerous-light hover:border-dangerous-light border-dangerous-lighter border-2 hover:text-white w-8 h-8 cursor-pointer duration-300
  }

  .pagination-item {
    @apply py-1 px-2 rounded-md cursor-pointer hover:bg-[#eee] duration-300
  }

  .pagination-arrow {
    @apply p-1 cursor-pointer bg-[#eee] hover:bg-primary rounded-full hover:text-white duration-300 disabled:cursor-not-allowed disabled:bg-secondary-lighter disabled:text-secondary-light
  }

  .button-style {
    @apply duration-300 disabled:bg-transparent cursor-pointer disabled:cursor-auto disabled:border-none
  }

}

@theme {
  --color-primary: hsl(217 100% 50%);
  --color-primary-light: hsl(from var(--color-primary) h s calc(l + 20));
  --color-primary-lighter: hsl(from var(--color-primary) h s calc(l + 40)); 
  --color-primary-dark: hsl(from var(--color-primary) h s calc(l - 20)); 
  --color-primary-darker: hsl(from var(--color-primary) h s calc(l - 40)); 
  --color-secondary: hsl(217 0% 50%);
  --color-secondary-light: hsl(from var(--color-secondary) h s calc(l + 20));
  --color-secondary-lighter: hsl(from var(--color-secondary) h s calc(l + 40));
  --color-secondary-dark: hsl(from var(--color-secondary) h s calc(l - 20));
  --color-secondary-darker: hsl(from var(--color-secondary) h s calc(l - 40));
  --color-dangerous: hsl(357 96.3% 50%);
  --color-dangerous-light: hsl(from var(--color-dangerous) h s calc(l + 20));
  --color-dangerous-lighter: hsl(from var(--color-dangerous) h s calc(l + 40));
  --color-dangerous-dark: hsl(from var(--color-dangerous) h s calc(l - 20));
  --color-dangerous-darker: hsl(from var(--color-dangerous) h s calc(l - 40));
  --color-alert: hsl(51, 100%, 56%);
  --color-alert-light: hsl(from var(--color-alert) h s calc(l + 20));
  --color-alert-lighter: hsl(from var(--color-alert) h s calc(l + 40));
  --color-alert-dark: hsl(from var(--color-alert) h s calc(l - 20));
  --color-alert-darker: hsl(from var(--color-alert) h s calc(l - 40));
  --color-modal-background: rgba(0,0,0,0.5);
  --shadow-custom: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15)
}